*{
	margin: 0;
	padding: 0;
}
#wrapper{
	margin: 300px auto 0;
	width: 300px;
}
#registration{
	padding: 15px;
	border: 1px solid #808080;
	border-radius: 5px;
}
.form-label{
	font-family: Calibri, Candara, Segoe, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
}
.form-field{
	margin: 10px 0;
	padding: 5px;
	width: 258px;
	border: 1px solid #808080;
	border-radius: 5px;
	color: #808080;
	font-size: 18px;
	font-family: Calibri, Candara, Segoe, Arial, sans-serif;
	line-height: 18px;
}
.form-messages{}
.form-error{
	margin-top: 10px;
	display: block;
	color: #FF0000;
	font-size: 18px;
	font-family: Calibri, Candara, Segoe, Arial, sans-serif;
	line-height: 18px;
	text-align: center;
}
.form-submit{
	margin: 10px auto 0;
	width: 150px;
	display: block;
	padding: 7px 5px;
	border: 1px solid #808080;
	border-radius: 10px;
	color: #303030;
	font-family: Calibri, Candara, Segoe, Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	background-color: #EEE;
}
.form-submit:hover{
	background-color: #CCC;
}